Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

Delete draft-ietf-httpbis-message-signatures.md
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Delete draft-ietf-httpbis-origin-h3.md
  draft-ietf-httpbis-origin-h3.md
Owners: none

Delete draft-ietf-httpbis-retrofit.md
  draft-ietf-httpbis-retrofit.md
Owners: none

Delete draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Delete draft-ietf-httpbis-rfc7838bis.md
  draft-ietf-httpbis-rfc7838bis.md
Owners: mbishop@evequefou.be, mt@lowentropy.net

Delete draft-ietf-httpbis-safe-method-w-body.xml
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

Delete draft-ietf-httpbis-variants.md
  draft-ietf-httpbis-variants.md
Owners: mnot@mnot.net

Delete ietf.json
  ietf.json
Owners: none

Delete sf.json
  sf.json
Owners: none

remove unrelated line
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #2182. Clarify POST and C-L. (#2187)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Lucas' review
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #2168. add normative RFC8792. (#2188)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Update draft-ietf-httpbis-digest-headers.md
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

editorial updates to wrapped values algorithm
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix IANA registry text
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

clean up signature parameters language
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

[6265bis] Changelog Updates
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

[6265bis] Changelog Updates (#2212)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

digests: improve document structure section
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

trim that trailinggit add draft-ietf-httpbis-digest-headers.md 1
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix #2178. Editorial improvements on examples. (#2184)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #2182. 4xx and 5xx are both valid responses. (#2186)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

digests: improve document structure section (#2213)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

[6265bis] Improved Max-Age attribute parsing (fixes #1757)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

[6265bis] Improved Max-Age attribute parsing (fixes #1757) (#2214)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Add PSL note to retrieval algorithm
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Update change log
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Hyphenate domain-match
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Offload Service Worker SFC computation to spe
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Clarify note
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

PSL -> public suffix list
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

grammatical and editorial cleanups, part 1
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

RFC6265bis: Add note not to send invalid cookies due to PSL changes (#2215)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

additional editorial changes for second half
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

lint
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix anchors
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Clean up signature
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Add to change log
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com
