Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

fix examples of query string inclusion to keep ? in front
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fixed example dict
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

updated header serialization examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Update message/* usage
  draft-ietf-httpbis-binary-message.md
Owners: none

Apply Tommy's suggestions
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Introduce the mime type
  draft-ietf-httpbis-binary-message.md
Owners: none

CONNECT and Upgrade are nonsense
  draft-ietf-httpbis-binary-message.md
Owners: none

Apply MTs suggestions
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

This ain't h2
  draft-ietf-httpbis-binary-message.md
Owners: none

That doesn't really fit the list
  draft-ietf-httpbis-binary-message.md
Owners: none

purposes^H
  draft-ietf-httpbis-binary-message.md
Owners: none

We lean on h2 for message construction rules, but that's all
  draft-ietf-httpbis-binary-message.md
Owners: none

Riff and expand on Lucas' excellent reframing of the control data text
  draft-ietf-httpbis-binary-message.md
Owners: none

Add some acks
  draft-ietf-httpbis-binary-message.md
Owners: none

Fixups
  draft-ietf-httpbis-binary-message.md
Owners: none

Tweaking to deal with the pseudo-field paragraph
  draft-ietf-httpbis-binary-message.md
Owners: none

Revert Tielte change
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Title Case
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

convert algorithm registry to a table and update
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

s/checksum/digest in the parts that matter
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

fixup SHA-1 ref
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

remove double the
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

revert ordering of fileds in the intro. Followup on #1933
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Missing word
  draft-ietf-httpbis-binary-message.md
Owners: none

Address IESG review comments.
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Address IESG review comments.
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Switch to draft-ietf-httpbis-http2bis from RFC7540
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Roberto's fixups of me missing things
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

typo
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Populate sf.json, fix SF linter and artwork width
  draft-ietf-httpbis-digest-headers.md
  sf.json
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Make the field validation clearer
  draft-ietf-httpbis-binary-message.md
Owners: none

Tweaking to deal with the pseudo-field paragraph
  draft-ietf-httpbis-binary-message.md
Owners: none

We lean on h2 for message construction rules, but that's all
  draft-ietf-httpbis-binary-message.md
Owners: none

This ain't h2
  draft-ietf-httpbis-binary-message.md
Owners: none

Fixups
  draft-ietf-httpbis-binary-message.md
Owners: none

Add some acks
  draft-ietf-httpbis-binary-message.md
Owners: none

Simpler comparison clause
  draft-ietf-httpbis-binary-message.md
Owners: none

Riff and expand on Lucas' excellent reframing of the control data text
  draft-ietf-httpbis-binary-message.md
Owners: none

Add applicability statement
  draft-ietf-httpbis-binary-message.md
Owners: none

204 responses are just like any other message
  draft-ietf-httpbis-binary-message.md
Owners: none
