Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

clean up structured field references and remove ABNF
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

format field names per style guide
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update semantics and messaging references
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

udpate self-references
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update registry tables
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Fix nits in binary-messages
  draft-ietf-httpbis-binary-message.md
Owners: none

s/indefinite/indeterminate in intro
  draft-ietf-httpbis-binary-message.md
Owners: none

Informational
  draft-ietf-httpbis-binary-message.md
Owners: none

How information and final status codes work
  draft-ietf-httpbis-binary-message.md
Owners: none

Citation for "status code"
  draft-ietf-httpbis-binary-message.md
Owners: none

HTTP/2 is normative
  draft-ietf-httpbis-binary-message.md
Owners: none

The length doesn't include itself
  draft-ietf-httpbis-binary-message.md
Owners: none

Move informational paragraph up
  draft-ietf-httpbis-binary-message.md
Owners: none

hyphen
  draft-ietf-httpbis-binary-message.md
Owners: none

Apply suggestions from code review
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

draft-ietf-httpbis-client-cert-field-02 doc history
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

digest changelog since 08
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

unnecessary 'either'
  draft-ietf-httpbis-retrofit.md
Owners: none

Split description of requests and responses
  draft-ietf-httpbis-binary-message.md
Owners: none

digest changelog since 08 (#2126)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

lern hau 2 spel
  draft-ietf-httpbis-binary-message.md
Owners: none

Remove ellipsis for indetermine-length content
  draft-ietf-httpbis-binary-message.md
Owners: none

minus -> excluding
  draft-ietf-httpbis-retrofit.md
Owners: none

Editorial tweaks of appx D
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Use full names in acknowledgments
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Use removeinrfc tag
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

reword considered a representation
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Use full names in acknowledgments (#2131)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Use removeinrfc tag (#2130)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Editorial tweaks of appx D (#2129)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

reword considered a representation (#2132)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

update from reviews
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

add section on protecting message content
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

add ABNF references and considerations on message content
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

message-signatures: reg table broken (fixes #2136)
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Move normative text from Section 6
  draft-ietf-httpbis-binary-message.md
Owners: none

Simplify sentence
  draft-ietf-httpbis-binary-message.md
Owners: none

H3 also
  draft-ietf-httpbis-binary-message.md
Owners: none

remove extra word
  draft-ietf-httpbis-binary-message.md
Owners: none

quote field name
  draft-ietf-httpbis-binary-message.md
Owners: none

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net
