Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

Switched to generic request-response binding
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Remove note to ignore Domain attribute with trailing .
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

update template
  writeups/template.md
Owners: none

paste from source
  writeups/template.md
Owners: none

rough in binary-message writeup
  writeups/binary-message.md
Owners: none

Remove note to ignore Domain attribute with trailing . (#2087)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

[6265bis] Removing an inadvertant change to `cookie-octet`.
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Remove trailing . note in 4.1.2.3.
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

RFC 6265bis - Remove trailing . note in 4.1.2.3. (#2092)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

more answers
  writeups/binary-message.md
Owners: none

update examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Fix header validation script
  Makefile
Owners: none

Add typing_extensions to install
  Makefile
Owners: none

Binary messages references
  draft-ietf-httpbis-binary-message.md
Owners: none

[6265bis] Removing an inadvertant change to `cookie-octet`. (#2090)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Align Digest fields defintion style to house rules
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Align style
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Align Digest fields defintion style to house rules (#2096)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Clarify Integrity preference field meaning in respones
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Mention HTTP Message Signatures as an illustration
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

update binary writeup
  writeups/binary-message.md
Owners: none

s/a a/a
  draft-ietf-httpbis-binary-message.md
Owners: none

s/a a/a
  draft-ietf-httpbis-binary-message.md
Owners: none

Mention HTTP Message Signatures as an illustration (#2098)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

erroneous space
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix #2100: unquote representation data
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix #2100: unquote representation data (#2101)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Clarify Integrity preference field meaning in responses (#2097)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

alpha-sort cookie parameters
  draft-ietf-httpbis-retrofit.md
Owners: none

alpha-sort iana tables
  draft-ietf-httpbis-retrofit.md
Owners: none

set-cookie, not cookie
  draft-ietf-httpbis-retrofit.md
Owners: none

Map Expires Set-Cookie param to Integer
  draft-ietf-httpbis-retrofit.md
Owners: none

Massage note
  draft-ietf-httpbis-retrofit.md
Owners: none

Revise abstract and intro
  draft-ietf-httpbis-retrofit.md
Owners: none

plural
  draft-ietf-httpbis-retrofit.md
Owners: none

Make caveats more actionable
  draft-ietf-httpbis-retrofit.md
Owners: none

try to say that for multiple post-handshake client certificate authentications, only use the last one (to fix #1923)
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Add submissionType: IETF to draft-ietf-httpbis-client-cert-field.md
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

add a note about cert retention on TLS session resumption (to fix #1992)
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net
