Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

Update draft-ietf-httpbis-digest-headers.md
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Update draft-ietf-httpbis-digest-headers.md
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #1843. Improve example description. (#1982)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #1967. All of representation digest in section 2. (#1984)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Leave algorithms reference
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Simplify IANA registration section. (#1983)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

section typo
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #1954. No normative text in security considerations. (#1972)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Add a note that LDH is safe to reject as well.
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

added list of parameters to field discussion
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix terminology
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

remove emphasis around field names
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

More AUTH48 changes
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

use {:quote}
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

message-signatures: fix typo in ed25519-test-key name
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Revert "Add a note that LDH is safe to reject as well."
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

[6265bis] Require ASCII for domain attributes (fixes #1707) (#1969)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Consequently
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

Additional tweaks
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

align anchor name with RPC's
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Flexibility in Cookie Expiry Timeline (#1980)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Initial AUTH48 corrections
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

Spurious capitalisations
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

update IANA considerations formatting
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

Initial AUTH48 changes
  draft-ietf-httpbis-cache-header.md
Owners: mnot@mnot.net

update registry text
  draft-ietf-httpbis-cache-header.md
Owners: mnot@mnot.net

Missed some capitalisation
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

more AUTH48 tweaks
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

rough in retrofit
  draft-ietf-httpbis-retrofit.md
Owners: none

remove trailing space
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

one more capitalisation
  draft-ietf-httpbis-bcp56bis.md
Owners: mnot@mnot.net

Remove periods from None
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

Modify description of http upgrade failure
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

oxford comma
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

more auth48 tweaks
  draft-ietf-httpbis-cache-header.md
Owners: mnot@mnot.net

Tweak author
  draft-ietf-httpbis-retrofit.md
Owners: none
