Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

Add warning that servers should not send nameless cookies
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Reorder notes for readability
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Add to change log
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

RFC6265bis: Add warning that servers should not send nameless cookies (#2220)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Offload Service Worker SFC computation to spe
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Add to change log
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Added examples for message transformations
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Add signature context
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Explicitly state layout of ORIGIN frame
  draft-ietf-httpbis-origin-h3.md
Owners: none

Update draft-ietf-httpbis-message-signatures.md
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

RFC6265bis: Offload Service Worker SFC computation to spec (#2217)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

move to @nnn for dates
  draft-ietf-httpbis-retrofit.md
Owners: none

Update draft-ietf-httpbis-retrofit.md
  draft-ietf-httpbis-retrofit.md
Owners: none

Add QUERY example to introduction
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

It is any HTTP semantics
  draft-ietf-httpbis-binary-message.md
Owners: none

Compact the registration
  draft-ietf-httpbis-binary-message.md
Owners: none

added considerations for context parameter
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

add context to an example
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

add changelog line for safe transform examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update CONTRIBUTING
  CONTRIBUTING.md
Owners: none

update Contributing
  CONTRIBUTING.md
Owners: none

quote tt elements
  draft-ietf-httpbis-binary-message.md
Owners: none

All the obvious AUTH48 edits
  draft-ietf-httpbis-binary-message.md
Owners: none

Known-Length (Request|Response)
  draft-ietf-httpbis-binary-message.md
Owners: none

Superscript
  draft-ietf-httpbis-binary-message.md
Owners: none

Use Status Code for final responses
  draft-ietf-httpbis-binary-message.md
Owners: none

indefinite -> indeterminate
  draft-ietf-httpbis-binary-message.md
Owners: none

Note about RFC 2518
  draft-ietf-httpbis-binary-message.md
Owners: none

Transfer-Encoding title case
  draft-ietf-httpbis-binary-message.md
Owners: none

Redundant given references
  draft-ietf-httpbis-binary-message.md
Owners: none

The dependency applies to the framing
  draft-ietf-httpbis-binary-message.md
Owners: none

Reword application usage
  draft-ietf-httpbis-binary-message.md
Owners: none

Try to thread the needle on field lines
  draft-ietf-httpbis-binary-message.md
Owners: none

Use compact spacing for the media type registration
  draft-ietf-httpbis-binary-message.md
Owners: none

Changes based on review of XML
  draft-ietf-httpbis-binary-message.md
Owners: none

Remove parens for reference
  draft-ietf-httpbis-binary-message.md
Owners: none

Changes based on review of diff
  draft-ietf-httpbis-binary-message.md
Owners: none

final status code <- downcase
  draft-ietf-httpbis-binary-message.md
Owners: none

Final AUTH48 text changes
  draft-ietf-httpbis-binary-message.md
Owners: none

Final XML-related AUTH48 changes
  draft-ietf-httpbis-binary-message.md
Owners: none
