Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

fix external refs
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

remove changelog
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

benefit sending -> benefit in sending
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

one more tt for true
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

H2 frame format
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

H2 frame format comma not dot
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

apparently all i.e. need a comma
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

either -> in either of
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Prioritized stream -> prioritized stream
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

open -> open state
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

no comma here!
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

align refs with HTTP style
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

align refs with HTTP style (#2057)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Intermediary signal processing/production, again
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Tweak IANA stuff
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Try to avoid saying payload where it is not needed
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

priority: use SF terms, not ABNF
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

remove more ABNF and more words
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

remove a few more words
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

remove weird fragment now ABNF is gone
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Change references from HTTP2 => HTTP/2 and HTTP3 => HTTP/3
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Auth48: Websockets => WebSockets
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Auth48: Add "extended connect" keyword
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

One more
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

TAG Security & Privacy Questionnaire Answers for *Cookie Expires/Max-Age attribute upper limit*
  writeups/tag-security-privacy-cookie-expires-clamping.md
Owners: none

Rename writeups/tag-security-privacy-cookie-expires-clamping.md to tag/cookie-expires-clamping.md
  tag/cookie-expires-clamping.md
Owners: none

TAG Security & Privacy Questionnaire Answers for *Cookie Expires/Max-Age attribute upper limit* (#2064)
  tag/cookie-expires-clamping.md
Owners: none

priority: use SF terms, not ABNF (#1977)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Tweak IANA stuff (#2059)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Try to avoid saying payload where it is not needed (#2060)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

remove superfluous description of H2 reserved field
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Kazuho's suggestion
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

do we want to say "Sections X or Y", the same way we do for "Sections X and Y"?
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

s/Structured Fields Dictionary/Dictionary/
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Delete cookie-expires-clamping.md
  tag/cookie-expires-clamping.md
Owners: none

Delete cookie-expires-clamping.md (#2066)
  tag/cookie-expires-clamping.md
Owners: none

either of the "half-closed" state(s)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

revive "as they"; I think we accidentally droped that in #2060
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

was orginnally "the CONNECT method"
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Revert "revive "as they"; I think we accidentally droped that in #2060"
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com
