Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

Revert "Merge representation digest definition with Digest header one (#1857)"
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Define new Structured Fields based headers for digest
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Attempt to cover client-cert and caching interactions per mnot's guidance in issue #1736
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Revert "Merge representation digest definition with Digest header one (#1857)"
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Define new Structured Fields based headers for digest
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

editorial nits
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

Don't define in terms of the registry
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

Add a motivating example
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

incorporate mnot suggestions on client-cert caching interactions
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

incorporate mnot suggestions on client-cert caching interactions
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

incorporate mnot suggestions on client-cert caching interactions
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

painful words in an attempt to explain renegotiation's applicability with client-cert header to fix #1519
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Adjust SC
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

Lars' editorial nits
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

apparently this doesn't need to be escaped.
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

fill out client-cert's IANA Considerations with HTTP field name registrations to fix #1520
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Changed "specialty" to "derived" components
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Roberto's editorial nits
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

[6265bis] Specify that no decoding of Set-Cookie line should occur
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

[6265bis] Specify that no decoding of Set-Cookie line should occur (#1902)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

added ABNF for signature input, adds considerations for lazy header parsers
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix anchor for build
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

encode ECDSA signature as raw bytes, mark ECDSA and RSAPSS as non-deterministic
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

note non-determinism of ECDSA and RSAPSS in examples, add security consideration of nondeterministic algorithms.
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Add ed25519, closes #1509
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update changelog
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update canonicalization rules, remove weird headers from examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

changed dictionaries and messages.
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

updated crypto primative functions
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

regenerate examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Editorial nits in h3-websockets
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

[signatires] prepare for next release
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

wrap abnf line
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

slightly rephrase statement about significance of ordering (closes #1896)
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

Tweak the description of informational responses
  draft-ietf-httpbis-binary-message.md
Owners: none

field names and values are length prefixed
  draft-ietf-httpbis-binary-message.md
Owners: none

Whitespace fixes for signatures
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Revert "Merge representation digest definition with Digest header one (#1857)"
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Define new Structured Fields based headers for digest
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

safe-method-w: use "content" instead of "payload" or "body" (closes #1915)
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net
