Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

All the priorities auth 48 changes (#2154)
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Debugging steps
  .github/workflows/ghpages.yml
Owners: none

Maybe don't get fancy
  .github/workflows/ghpages.yml
Owners: none

Some debugging
  .github/workflows/ghpages.yml
  Makefile
Owners: none

Remove hacks
  .github/workflows/ghpages.yml
  Makefile
Owners: none

Tweaks
  .github/workflows/ghpages.yml
Owners: none

checkout v3, risk it
  .github/workflows/ghpages.yml
Owners: none

Typing extensions too
  .gitignore
  Makefile
  package.json
  requirements.txt
Owners: none

tune include URIs
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

RFCHTTP -> HTTP
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

fix title for HTTP-CACHING
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

RFCs
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

change log
  draft-ietf-httpbis-safe-method-w-body.xml
Owners: julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com

Add H3 ORIGIN draft
  draft-ietf-httpbis-origin-h3.md
Owners: none

Wrap
  draft-ietf-httpbis-origin-h3.md
Owners: none

Remove numbering thing
  draft-ietf-httpbis-binary-message.md
Owners: none

Try to minimize differences in list structure
  draft-ietf-httpbis-binary-message.md
Owners: none

Use the HTTP core RFCs. Twiddle with some other refs. (#2156)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

If-Match
  draft-ietf-httpbis-retrofit.md
Owners: none

less terse names
  draft-ietf-httpbis-retrofit.md
Owners: none

More examples
  draft-ietf-httpbis-retrofit.md
Owners: none

make the weak flag a capital W
  draft-ietf-httpbis-retrofit.md
Owners: none

semantics is now 9110
  draft-ietf-httpbis-retrofit.md
Owners: none

Fix cookies
  draft-ietf-httpbis-retrofit.md
  sf.json
Owners: none

cookie section
  draft-ietf-httpbis-retrofit.md
Owners: none

typo
  draft-ietf-httpbis-retrofit.md
Owners: none

not similar any more!
  draft-ietf-httpbis-retrofit.md
Owners: none

extra line
  draft-ietf-httpbis-retrofit.md
Owners: none

remove retrofit headers from sf.json
  sf.json
Owners: none

Minor stuff from Lars' review
  draft-ietf-httpbis-binary-message.md
Owners: none

add comma discussion
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Remove note regarding cookie serialization
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

discuss set-cookie better
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Add case insensitivity note to Set-Cookie Syntax
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Remove incorrect parenthetical
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

l2spell Carnegie
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

update digest writeup
  writeups/digest.md
Owners: none

RFC6265bis: Add case insensitivity note to Set-Cookie Syntax (#2167)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Fix binary message registration
  draft-ietf-httpbis-binary-message.md
Owners: none

Update NOTE WELL
  CONTRIBUTING.md
Owners: none
