Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

Revert "do we want to say "Sections X or Y", the same way we do for "Sections X and Y"?"
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Editorial: be consistent when aborting steps
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

RFC6265bis: Editorial: be consistent when aborting steps (#2069)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Fix: #1968
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #2042. Add changelog.
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

align refs with HTTP style
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

More Auth48 cleanups
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

WHoops
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Update draft-ietf-httpbis-rfc6265bis.md
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Noodle on third-party cookies (#1878)
  draft-ietf-httpbis-rfc6265bis.md
Owners: chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com

Apply suggestions from code review
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Remove Internet-Draft as a keyword
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

h3-websockets: title assignment "HTTP" is redundant
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Use list for multiple keywords
  draft-ietf-httpbis-h3-websockets.md
Owners: rch@google.com

Add more mapped fields
  draft-ietf-httpbis-retrofit.md
Owners: none

Add existing fields
  draft-ietf-httpbis-retrofit.md
Owners: none

add more existing fields
  draft-ietf-httpbis-retrofit.md
Owners: none

talk about parameter delimitation
  draft-ietf-httpbis-retrofit.md
Owners: none

Talk about token limitations
  draft-ietf-httpbis-retrofit.md
Owners: none

combine parameter and dictionary keys
  draft-ietf-httpbis-retrofit.md
Owners: none

mention string quoting.
  draft-ietf-httpbis-retrofit.md
Owners: none

Mention integer limits
  draft-ietf-httpbis-retrofit.md
Owners: none

Mention IPv6 literals
  draft-ietf-httpbis-retrofit.md
Owners: none

adjust language
  draft-ietf-httpbis-retrofit.md
Owners: none

Make Expect a Dictionary
  draft-ietf-httpbis-retrofit.md
Owners: none

Add note about incompatible field names
  draft-ietf-httpbis-retrofit.md
Owners: none

tidy up
  draft-ietf-httpbis-retrofit.md
Owners: none

escape the backslash
  draft-ietf-httpbis-retrofit.md
Owners: none

Fix: #2042. Add changelog. (#2070)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Apply suggestions from code review
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Fix: #1968. Migrating from RFC3230. (#1971)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

digest fix-lint
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Swap Content and Repr digest presentation order
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Swap Content and Repr digest presentation order (#2080)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Tidy up cookies
  draft-ietf-httpbis-retrofit.md
Owners: none

refine use of terminology
  draft-ietf-httpbis-retrofit.md
Owners: none

clarify
  draft-ietf-httpbis-retrofit.md
Owners: none
