Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

Refine header intro
  draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

Create Sjenica1
  Sjenica1
Owners: none

Rename Representation-Digest to Repr-Digest
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Remove line wrapping on simple Repr-Digest examples
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

added considerations for semantically equivalent but syntacitcally different field values, added field paramters in intro section
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Try to define lengths better
  draft-ietf-httpbis-binary-message.md
Owners: none

Factor the truncation text better
  draft-ietf-httpbis-binary-message.md
Owners: none

Pseudo-fields aren't allowed in trailers
  draft-ietf-httpbis-binary-message.md
Owners: none

Acknowledge David S
  draft-ietf-httpbis-binary-message.md
Owners: none

Use contact for names
  draft-ietf-httpbis-binary-message.md
Owners: none

AUTH48 updates
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

more AUTH48 tweaks
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

AUTH48 tweaks
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

Rename to Repr-Digest (#1993)
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Use singular `@query-param` instead of `@query-params`
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Introduce new term: HTTP Message Component Name
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Distinguish between derived components, names, and identifiers
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Revise rules for list of covered components with new `component name` terminology
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Replace "token endpoint authorization method" with terms that match the context
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Reorder component names to match the example that follows
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Reorder and update list of component names to match the preceding example
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Remove `created` parameter from example where its use is prohibited
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Replace "input identifier" with "component identifier"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Fix missing close brackets on [SEMANTICS] reference
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Fix typographical errors
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar: fix missing "the"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar: remove extra "of"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar:fix missing "of"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar: remove extra "in"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar: remove extra verb "is a"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar: insert missing subject/verb "it could be" to complete the sentence
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

grammar: insert "applicable" adjective's missing noun, "message components"
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Normalize to "component value" when introducing canonicalized value examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Expand examples to show component value and signature base line separately
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Francesca's fix
  draft-ietf-httpbis-cache-header.md
Owners: mnot@mnot.net

add @tyler-ham as a contributor
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Fix linting for HTTP Signatures
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

registry tweaks
  draft-ietf-httpbis-cache-header.md
Owners: mnot@mnot.net

the RFC number i 9218
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

uncontroversial editorial updates from RFC editor
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com
