Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net

informational, not interim
  draft-ietf-httpbis-binary-message.md
Owners: none

move italics, closes #2135
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

clean up ABNF, closes #2138
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

remove trailing whitespace
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix dangling references, closes #2137
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update request-response example
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

clean up header display
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

add query-param example, closes #1981
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

call out weirdness with Set-Cookie, closes #1183
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Update draft-ietf-httpbis-message-signatures.md
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Daniel Migault's review
  draft-ietf-httpbis-binary-message.md
Owners: none

added discussion on non-list fields and collisions across multiple fields, make base generation fail on unknown parameters
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix whitespace
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix reference anchors
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

update RFCs for HTTP core
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

Test new index generation
  Makefile
Owners: none

Poke
  Makefile
Owners: none

Poke 2
  Makefile
Owners: none

Poke 3
  Makefile
Owners: none

Poke 4
  Makefile
Owners: none

Tweak language about cookie values
  draft-ietf-httpbis-retrofit.md
Owners: none

archive published RFCs
  archive/draft-ietf-httpbis-expect-ct.md
  archive/draft-ietf-httpbis-priority.md
Owners: estark@google.com, kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Fix: #2151. Reference HTTP core
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

archive more published specs
  archive/draft-ietf-httpbis-bcp56bis.md
  archive/draft-ietf-httpbis-cache-header.md
Owners: mnot@mnot.net

proxy-status too
  archive/draft-ietf-httpbis-proxy-status.md
Owners: mnot@mnot.net, piotrsikora@google.com

tcc too
  archive/draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

start Digest
  writeups/digest.md
Owners: none

Add priority keywords (#2056)
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

false is <tt> too
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Priority Field Value
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

uncontroversial AUTH48 (#2044)
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

lowercase Stream and Push ID in prose
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

streams carry requests, not methods (#2052)
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

priority: update author name (#1978)
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

priority parameters are lowercase
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

always RFC stream priorities
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Tweak the acknowledgements
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

couple of IANA fixups
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

IANA considerations style fixups (#2050)
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

you consult a doctor, not an HTTP request
  archive/draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com
