Repository httpwg/http-extensions, changes with the owners that .github/CODEOWNERS names for each.
All owners: mnot@mnot.net, bcampbell@pingidentity.com, mbishop@evequefou.be, robipolli@gmail.com, lucaspardue.24.7@gmail.com, estark@google.com, rch@google.com, richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com, kazuhooku@gmail.com, piotrsikora@google.com, chlily@google.com, senglehardt@mozilla.com, mkwst@google.com, wilander@apple.com, mt@lowentropy.net, julian.reschke@greenbytes.de, malhotrasahib@gmail.com, jasnell@gmail.com, sludin@ludin.org, me@yuchenwu.net

add signature targets and update IANA
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

clarify sign/verify algorithms, editorial fixes
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix compilation errors from links
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix reference link formats, closes #1811
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

updated dictionary and field examples
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

specify query name parameter as sf-string
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

[prepare for next release]
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

fix typos in example
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

mark normative statements automatically in signatures
  draft-ietf-httpbis-message-signatures.md
Owners: richanna@amazon.com, ietf@justin.richer.org, msporny@digitalbazaar.com

mark normative statements automatically in digest headers
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

mark normative statements automatically in client certificate field
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

mark normative statements automatically in binary headers
  draft-ietf-httpbis-binary-message.md
Owners: none

Make it clear that clients send PRIORITY_UPDATE
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Mike and Lucas' rewording
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Editorial suggestions from Benjamin Kaduk's IESG review (priority) (#1861)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Make it clear that clients send PRIORITY_UPDATE (#1866)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Only clients send H2 frames
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

H2 PRIORITY_UPDATE type field is 8 bits (#1860)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Lar's nits
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

fix digests lint
  draft-ietf-httpbis-digest-headers.md
Owners: robipolli@gmail.com, lucaspardue.24.7@gmail.com

Kauho's MUST NOT
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

MUST NOT on h3 too
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Cite only Marx paper
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

Lar's nits (#1870)
  draft-ietf-httpbis-priority.md
Owners: kazuhooku@gmail.com, lucaspardue.24.7@gmail.com

implement -> implements
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

Add ref for cache directives registry
  draft-ietf-httpbis-targeted-cache-control.md
Owners: sludin@ludin.org, mnot@mnot.net, me@yuchenwu.net

First pass at structured header
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Hint on encoding
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Keep encoding section
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Convey certificate chain
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Consistency, examples
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Minor nits after Mike's edits for structured and chain
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Generalize the abstract a bit on account of the addition of Client-Cert-Chain
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

try and account for Client-Cert-Chain in the intro too
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Try to tighten up the Encoding section that describes encoding certificates as Structured Field Byte Sequence
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Reminder that sf-binary has no line breaks, spaces, etc
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Further edits to account for the certificate chain
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

shorten title of draft-ietf-httpbis-client-cert-field #1553
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Field to Fields in section title client-cert-field
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

Words are hard but try and give a short description of each header at the top of sec 2. Fixes #1596
  draft-ietf-httpbis-client-cert-field.md
Owners: bcampbell@pingidentity.com, mbishop@evequefou.be

.github/CODEOWNERS:

# Automatically generated CODEOWNERS
# Regenerate with `make update-codeowners`
draft-ietf-httpbis-bcp56bis.md mnot@mnot.net
draft-ietf-httpbis-cache-header.md mnot@mnot.net
draft-ietf-httpbis-client-cert-field.md bcampbell@pingidentity.com mbishop@evequefou.be
draft-ietf-httpbis-digest-headers.md robipolli@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-expect-ct.md estark@google.com
draft-ietf-httpbis-h3-websockets.md rch@google.com
draft-ietf-httpbis-message-signatures.md richanna@amazon.com ietf@justin.richer.org msporny@digitalbazaar.com
draft-ietf-httpbis-priority.md kazuhooku@gmail.com lucaspardue.24.7@gmail.com
draft-ietf-httpbis-proxy-status.md mnot@mnot.net piotrsikora@google.com
draft-ietf-httpbis-rfc6265bis.md chlily@google.com senglehardt@mozilla.com mkwst@google.com wilander@apple.com
draft-ietf-httpbis-rfc7838bis.md mbishop@evequefou.be mt@lowentropy.net
draft-ietf-httpbis-safe-method-w-body.xml julian.reschke@greenbytes.de malhotrasahib@gmail.com jasnell@gmail.com
draft-ietf-httpbis-targeted-cache-control.md sludin@ludin.org mnot@mnot.net me@yuchenwu.net
draft-ietf-httpbis-variants.md mnot@mnot.net
