Repository httpwg/http-extensions, pull requests merged in 2018-03, with the labels that each got.

#413 Switch digest to cuckoo filters, to enable O(1) removal
  draft-ietf-httpbis-cache-digest.md
Labels: cache-digest

#498 expect-ct: move change log to appendix
  draft-ietf-httpbis-expect-ct.md
Labels: expect-ct

#499 expect: consistently talk about header *fields*
  draft-ietf-httpbis-expect-ct.md
Labels: expect-ct

#507 5988->8288
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis

#514 bcp56bis: RFC 3205 ref
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis

#508 7159->8259
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis

#511 bcp56bis: use shorthand notation for [XML]
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis

#512 bcp56bis: avoid overlong artwork line
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis

#464 consistency: "header field"
  draft-ietf-httpbis-rand-access-live.xml
Labels: rand-access-live

#465 fix missing word
  draft-ietf-httpbis-rand-access-live.xml
Labels: rand-access-live

#488 move acks to end and make them unnumbered
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#521 fix ABNF (see #520)
  draft-ietf-httpbis-header-structure.md
Labels: header-structure
