Repository httpwg/http-extensions, pull requests merged in 2018-04, with the labels that each got.

#543 WebSockets editorial nits
  draft-ietf-httpbis-h2-websockets.md
Labels: editorial, h2-websockets

#561 Change Cache Digests authorship
  draft-ietf-httpbis-cache-digest.md
Labels: cache-digest

#573 Fixed a couple references to "Very Large values" lower case and "^^" to "^"
  draft-ietf-httpbis-rand-access-live.xml
Labels: rand-access-live

#574 Clarify handling of invalid SameSite values (fixes #389)
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#575 Abstracts are small
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: editorial, secondary-certs

#566 All frames on stream 0
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: design, secondary-certs

#585 replay: refer to actual header field registry
  draft-ietf-httpbis-replay.md
Labels: editorial, replay

#591 bcp56bis: 302 *response* not *request*
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis

#589 bcp56bis: split message exchange into two figures
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#590 bcp56bis: ref for status code 308
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial
