Repository httpwg/http-extensions, pull requests merged in 2018-05, with the labels that each got.

#605 h2-ws: ref format and typo
  draft-ietf-httpbis-h2-websockets.md
Labels: editorial, h2-websockets

#603 Attempt to clarify the replay attack
  draft-ietf-httpbis-replay.md
Labels: replay

#602 Mention rejection of 0-RTT
  draft-ietf-httpbis-replay.md
Labels: replay

#609 bcp56bis: fix typo in FETCH reference
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#610 h2-ws: no references in abstract
  draft-ietf-httpbis-h2-websockets.md
Labels: editorial, h2-websockets

#611 h2-ws: type the artwork and reduce the width once more
  draft-ietf-httpbis-h2-websockets.md
Labels: editorial, h2-websockets

#618 typo 6265bis fix
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#621 early-data: iana links
  draft-ietf-httpbis-replay.md
Labels: editorial, replay

#578 Structure limits
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#625 expect-ct: tune examples
  draft-ietf-httpbis-expect-ct.md
Labels: expect-ct

#624 expect-ct: add IANA considerations
  draft-ietf-httpbis-expect-ct.md
Labels: expect-ct

#626 Expect-CT: update text about http-equiv
  draft-ietf-httpbis-expect-ct.md
Labels: expect-ct

#634 Encourage kramdown to use brackets
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: editorial, secondary-certs
