Repository httpwg/http-extensions, pull requests merged in 2018-06, with the labels that each got.

#636 Restructure structure
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#651 Man-in-the-middle protection via SETTINGS
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: design, secondary-certs

#586 Stream-linking frames can reference Stream Zero
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: design, secondary-certs

#653 Clients use Empty Authenticator as well
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: editorial, secondary-certs

#654 Adjust casing in Section Headers and figure captions
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: editorial, secondary-certs

#645 Ben's comments
  draft-ietf-httpbis-replay.md
Labels: replay

#646 Adam's editorial suggestsions
  draft-ietf-httpbis-replay.md
Labels: replay

#647 ekr's review of replay
  draft-ietf-httpbis-replay.md
Labels: replay

#648 Spencer's q
  draft-ietf-httpbis-replay.md
Labels: replay

#649 Ben C review comments
  draft-ietf-httpbis-replay.md
Labels: replay
