Repository httpwg/http-extensions, pull requests merged in 2019-07, with the labels that each got.

#830 Digest: move Acks section to end (and make it unnumbered)
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#838 use standard form for referring to RFCs
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#857 sh: missing parentheses around reference
  draft-ietf-httpbis-header-structure.md
Labels: editorial, header-structure

#858 sh: more misformatted references
  draft-ietf-httpbis-header-structure.md
Labels: editorial, header-structure

#859 sh: missing artwork annotation
  draft-ietf-httpbis-header-structure.md
Labels: editorial, header-structure

#793 Remove dangling reference
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: editorial, secondary-certs

#862 [Client Hints] Replace ABNF with Structured Headers
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#861 Replace Key with Variants
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#860 Clarify defined headers are response headers
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#878 Remove Accept-CH-Lifetime
  draft-ietf-httpbis-client-hints.md
Labels: client-hints
