Repository httpwg/http-extensions, pull requests merged in 2019-10, with the labels that each got.

#944 Try to set country
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#877 Obsolete ADLER-32 but don't forbid it. It's now NOT RECOMMENDED #828
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#891 Update CRC32C value in iana table. Related to: #828.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#940 Replace cache-validator with validator (rfc 7231 section 7.2)
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#941 Specify recommended HTTP status code for connnection_limit_reached
  draft-ietf-httpbis-proxy-status.md
Labels: proxy-status

#865 Proxy-Status: replace last occurrence of "details".
  draft-ietf-httpbis-proxy-status.md
Labels: proxy-status

#954 Allow parameters on Items and Inner Lists
  draft-ietf-httpbis-header-structure.md
Labels: header-structure
