Repository httpwg/http-extensions, pull requests merged in 2020-07, with the labels that each got.

#1223 "identity" is not a valid field value for "Content-Encoding"
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1219 Remove useless section
  draft-ietf-httpbis-priority.md
Labels: editorial, priorities

#1058 rfced recommended section reference format
  draft-ietf-httpbis-priority.md
Labels: priorities

#1212 Fix __Host prefix example wording
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis
