Repository httpwg/http-extensions, pull requests merged in 2020-05, with the labels that each got.

#1155 Fix: #1143. Example of an empty payload body.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1166 Create an inline reference to semantics.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1151 Split setting into client and server values
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: secondary-certs

#1152 Secondary Cert error handling
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: secondary-certs

#1153 Confused deputy should be clear
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: secondary-certs

#1171 [Client Hints] Address Genart review comments
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1172 Default urgency is 3
  draft-ietf-httpbis-priority.md
Labels: priorities

#1200 rfc6265bis: fix broken internal links
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, editorial

#1202 digest-headers: use recommended reference format
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1199 digest-headers: remove non-ASCII characters from prose
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial
