Repository httpwg/http-extensions, pull requests merged in 2020-04, with the labels that each got.

#1069 SHOULD check DNS for secondary if you would have for primary
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: secondary-certs

#1070 Client privacy
  draft-ietf-httpbis-http2-secondary-certs.md
Labels: editorial, secondary-certs

#1150 Add references to Structured Trailers
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#1142 Replace validator -> validator fields
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1114 Integrate an example without content coding.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1160 [client hints] AD review comments
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1154 Fix: #1020. Deprecate sha-1
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1156 Update 7231->httpbis-semantics
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1157 Start mentioning trailers. See #884.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1165 Mention mid-stream trailers in the FAQ.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
