Repository httpwg/http-extensions, pull requests merged in 2020-12, with the labels that each got.

#1316 remove trailing whitespaces
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#1313 Reuse existing definitions for Unix time and Structured fields.
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#1319 Validate Structured Fields, with adjustments
  draft-ietf-httpbis-message-signatures.md
  sf.json
Labels: signatures

#1312 Remove redundant definitions. See #1311
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1325 Treat cookies as "SameSite=Lax" by default.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, samesite

#1323 Require "Secure" for "SameSite=None".
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, samesite

#1331 RFC 6265bis: SameSite -- clarify request method on redirects
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, samesite

#1333 Fix: 1221. Non-normative hints for duplicate digest-algorithms.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1336 Settle on 'key' for Parameters and Dictionaries
  draft-ietf-httpbis-header-structure.md
Labels: editorial

#1324 Introduce "Schemeful Same-Site" cookies.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, samesite

#1341 digest-headers: ref http core -13
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1343 Fix #1342: refs to field ordering in semantics
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
