Repository httpwg/http-extensions, pull requests merged in 2020-03, with the labels that each got.

#953 Fix: #952. Content-Location impacts on digest
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1052 Minor structured header nits
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#1077 fix some priority doc nits
  draft-ietf-httpbis-priority.md
Labels: priorities

#1066 priority: remove mention of CDN-loop
  draft-ietf-httpbis-priority.md
Labels: priorities

#1076 editorial tidyup around urgency meanings
  draft-ietf-httpbis-priority.md
Labels: priorities

#1078 add priority discussion note
  draft-ietf-httpbis-priority.md
Labels: priorities

#1094 Omitted True dictionary value can have parameters
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#1084 Allow "*" for sh-dict member and parameter names
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#1095 Cherry-pick editorial improvements from #1041
  draft-ietf-httpbis-priority.md
Labels: priorities

#1086 digest: reflow text and examples to quell warnings
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1100 fix some editorial hangovers
  draft-ietf-httpbis-priority.md
Labels: priorities

#1101 changelog for priority-00
  draft-ietf-httpbis-priority.md
Labels: priorities

#1111 Promote header field. See #1103.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1109 Refactor deprecated algorithms. See #1103.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1116 Shift Want-Digest down. See #1103.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1110 Merge encoding examples. See #1103.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1123 Introduce resource digest #1103
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1124 Fixes: #1103. Complete editorial reordering of Digest
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1125 Avoid errors on EOL trimming.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1126 Add changelog to digest-headers.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1080 Fix list style based on comment from @reschke
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1130 [Client Hints] Add latest PRs to changes
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1128 Some suggestions for forward compatibility
  draft-ietf-httpbis-header-structure.md
Labels: editorial, header-structure

#1132 [Client Hints] Remove nested list
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1134 client-hints: re-insert back section (#1133)
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1135 [client hints] Add latest PR changes
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1140 Reference new HTTP core semenatics and use field terminology
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
