Repository httpwg/http-extensions, pull requests merged in 2020-01, with the labels that each got.

#1019 Overwrite duplicate dictionary values
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#1004 Fix: #973. Error response is unrelated to the effective request URI
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#776 Add Sec- prefix to security considerations
  draft-ietf-httpbis-client-hints.md
Labels: client-hints

#1030 Add Wilander as editor and move Barth from Authors to Acknowledgements.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1036 [SH] allow "." in key
  draft-ietf-httpbis-header-structure.md
Labels: header-structure

#1039 Encourage end-to-end grease by applications
  draft-ietf-httpbis-header-structure.md
Labels: header-structure
