Repository httpwg/http-extensions, pull requests merged in 2020-10, with the labels that each got.

#1279 Priorities-01 changelog
  draft-ietf-httpbis-priority.md
Labels: priorities

#1278 fix the error type when PRIORITY_UPDATE is bogus
  draft-ietf-httpbis-priority.md
Labels: priorities

#1235 Incorporating WG feedback
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1281 digest-headers: update to semantics-12
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial

#1285 Detail encryption quirks
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1284 Achieving algorithm agility. See #1250
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1259 Fix: #850. Obsolete parameters.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1291 Add changelog since -03
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1295 digest: minor editorial typos
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1294 Fix: 1208. Intermediaries altering content/transfer-coding or content…
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1298 rfc6265bis: fix internal link
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, editorial

#1297 Adopting Structured Fields
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1320 Validate http headers in CH
  draft-ietf-httpbis-client-hints.md
  sf.json
Labels: client-hints
