Repository httpwg/http-extensions, pull requests merged in 2021-02, with the labels that each got.

#1397 Fix: #1392. Reference RFC 6515 and 6194 for deprecating md5 and sha1.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1335 Fix: #852. Mention resource consumption.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1401 Change Header Block to Header/Trailer Section, plus related changes.
  draft-ietf-httpbis-proxy-status.md
Labels: proxy-status

#1347 add priority field
  sf.json
Labels: meta

#1402 Style.
  draft-ietf-httpbis-proxy-status.md
Labels: proxy-status

#1400 Allow connection_terminated to be emitted for mid-stream errors.
  draft-ietf-httpbis-proxy-status.md
Labels: proxy-status

#1406 clean up editorial notes and issues list
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1384 RFC 6265bis: Clarify same-site for reload navigations
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1314 Fix: #1190. Remove algorithm specific rules for content identifiers.
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1348 Consider redirects when defining same-site
  draft-ietf-httpbis-rfc6265bis.md
Labels: samesite
