Repository httpwg/http-extensions, pull requests merged in 2021-03, with the labels that each got.

#1425 RFC6265bis: Update Top-Level Navigation & Widgets SameSite example
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1423 bcp56bis: restore appendix
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1431 RFC 6265bis: Add editors, update acknowledgements
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1411 Update signature input methods and requirements
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1419 Applying, Extending, and Detecting Signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1420 RFC 6265bis: Specify handling of CTL characters in set-cookie-string
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis
