Repository httpwg/http-extensions, pull requests merged in 2021-01, with the labels that each got.

#1350 Fix: #1349. Include spaces in digest computation.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1355 digest: end of 2020 editorial pass
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1362 Ioggstream digest end of 2020 editorial pt2
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1361 digest: end of 2020 editorial pass part 3
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1359 Fix: #1356. Missing headers in examples
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1344 priority: HTTP/2 doesn't have stream limits
  draft-ietf-httpbis-priority.md
Labels: priorities

#1345 Describe considerations for server push prioritisation
  draft-ietf-httpbis-priority.md
Labels: priorities

#1379 digest-headers: update references for http-core -14
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, editorial
