Repository httpwg/http-extensions, pull requests merged in 2021-08, with the labels that each got.

#1595 Editorial suggestions from Benjamin Kaduk's IESG Evaluation (cache-header)
  draft-ietf-httpbis-cache-header.md
Labels: cache-header

#1573 tweak reference style
  draft-ietf-httpbis-priority.md
Labels: editorial, priorities

#1594 Add "Accept-Signature" header definition
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1599 Updated Signature Language
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1602 Release Signatures 06
  draft-ietf-httpbis-message-signatures.md
Labels: signatures
