Repository httpwg/http-extensions, pull requests merged in 2021-06, with the labels that each got.

#1513 Fix small typo
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1528 Update signature algorithm definitions
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1529 Remove List Prefixes
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1534 use example media type (closes #1450)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, safe-method-w-body

#1539 Relax restriction of generic XML media type in request body (fixes #1535)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: safe-method-w-body

#1523 Remove TODOs
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-header

#1518 First pass for header/field terminology
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-header

#1504 Add a section for http prioritization in transport retransmission
  draft-ietf-httpbis-priority.md
Labels: priorities

#1541 State the H2 priority signals explicitly
  draft-ietf-httpbis-priority.md
Labels: priorities

#1557 Extra word in SEARCH
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, safe-method-w-body

#1560 switch ref links and style
  draft-ietf-httpbis-priority.md
Labels: editorial, priorities

#1562 suggest intermediaries might avoid strict prioiritization
  draft-ietf-httpbis-priority.md
Labels: priorities
