Repository httpwg/http-extensions, pull requests merged in 2021-09, with the labels that each got.

#1587 Add examples with Content-Digest
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1635 Update references in Alt-Svc
  draft-ietf-httpbis-rfc7838bis.md
Labels: alt-svc, editorial

#1636 Discussion venue note
  draft-ietf-httpbis-rfc7838bis.md
Labels: alt-svc, editorial

#1642 Add HTTP/3 support
  draft-ietf-httpbis-rfc7838bis.md
Labels: alt-svc

#1543 Fix: #1542. Add Content-Digest.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1621 Add a trailer merging algorithm
  draft-ietf-httpbis-proxy-status.md
Labels: proxy-status

#1654 Digest: POST/PATCH cleanup
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1652 Fix: #1533. Add registration policy for digest algorithms.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1663 fix typo
  draft-ietf-httpbis-h3-websockets.md
Labels: editorial, h3-websockets

#1667 Fix: #1632. Consistent use of Digest fields.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1664 Fixes #1627 - Remove outdated comments related to Secure attribute
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1668 move digest examples to appendix
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1649 Cite HTTP for 421
  draft-ietf-httpbis-rfc7838bis.md
Labels: alt-svc

#1624 Add 'Interaction with HTTP Freshness'
  draft-ietf-httpbis-proxy-status.md
  draft-ietf-httpbis-targeted-cache-control.md
Labels: targeted-cc

#1676 Hyphenate; fixes #1674
  draft-ietf-httpbis-rfc7838bis.md
Labels: alt-svc, editorial

#1666 Structured Fields first
  draft-ietf-httpbis-targeted-cache-control.md
Labels: targeted-cc

#1677 Add changelog entry for h3 frame
  draft-ietf-httpbis-rfc7838bis.md
Labels: editorial

#1685 Use titles for example messages
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#1601 Reorient the text to the HTTP/2bis spec
  draft-ietf-httpbis-priority.md
Labels: priorities

#1646 Cite TLS
  draft-ietf-httpbis-rfc7838bis.md
Labels: alt-svc, editorial

#1704 Editorial tweak to the abstract
  draft-ietf-httpbis-h3-websockets.md
Labels: h3-websockets

#1702 Don't shout about SETTINGs
  draft-ietf-httpbis-h3-websockets.md
Labels: h3-websockets

#1700 Add a missing period
  draft-ietf-httpbis-h3-websockets.md
Labels: editorial, h3-websockets

#1706 SETTINGS_NO_RFC7540_PRIORITIES
  draft-ietf-httpbis-priority.md
Labels: priorities
