Repository httpwg/http-extensions, pull requests merged in 2021-05, with the labels that each got.

#1469 RFC 6265bis: Update ABNF to define field values
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1299 rfc6265bis: update HTTP refs to new core specs
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1505 rfc6265bis: uppercase "sections"
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, editorial

#1428 [6265bis] Refactor cookie retrieval algorithm to support non-HTTP APIs
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1435 RFC 6265bis: Add Lax-allowing-unsafe SameSite enforcement mode
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#1477 digest: editorial over abstract and intro
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1490 Fix: #1489. FAQ to be removed.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1479 Mark's review on section 3.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1491 Fix: #1487. Trailers considerations.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1485 Fix: #1484. Add section Changes from 3230
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1013 Clarified the ways cookies may be ignored.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis
