Repository httpwg/http-extensions, pull requests merged in 2021-04, with the labels that each got.

#1441 bcp56bis: fix surplus "the"
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1443 bcp56bis: add closing ")"
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1438 Update Signature Method Definitions
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1445 bcp56bis: make link to HTTP auth more specific
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1444 bcp56bis: fix weird section link
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1442 bcp56bis: fix weird link format
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1409 Fix: #1408. Use semantics-14.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1376 Fix: #1357. Clarify Digest+HEAD.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1354 digest: fix SRI section ref
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1458 digest: Add changelog-04
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1457 Fix: #1363. Non-normative options in conjuction with SRI.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1446 bcp56bis: make field registration link more specific
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1447 bcp56bis: make ref to conditional requests more specific
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1448 bcp56bis: make link to HTTP auth more specific
  draft-ietf-httpbis-bcp56bis.md
Labels: bcp56bis, editorial

#1463 message-signatures: fix various references (missng parentheses), type…
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#1466 cache-header: add missing parentheses
  draft-ietf-httpbis-cache-header.md
Labels: cache-header, editorial

#1455 Formalize signature and algorithm definitions
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1472 Minor editorial fixes
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: safe-method-w-body

#1480 Mark's review on section 5. See #1250
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
