Repository httpwg/http-extensions, pull requests merged in 2022-05, with the labels that each got.

#2087 Remove note to ignore Domain attribute with trailing .
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2092 Remove the trailing `.` note in 4.1.2.3.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2085 Switched to generic request-response binding
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2094 Fix references in binary messages
  Makefile
  draft-ietf-httpbis-binary-message.md
Labels: editorial, binary-messages

#2096 Align Digest fields defintion style to house rules
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2099 s/a a/a
  draft-ietf-httpbis-binary-message.md
Labels: editorial, binary-messages

#2098 Mention HTTP Message Signatures as an illustration
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers, signatures

#2097 Clarify Integrity preference field meaning in responses
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2124 Fix nits in binary-messages
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#2125 How informational and final status codes work
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#2103 add a note about cert retention on TLS session resumption (to fix #1992)
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2102 use just last of multiple post-handshake client cert authentications
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2131 Use full names in acknowledgments
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2130 Use removeinrfc tag
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2129 Editorial tweaks of appx D
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2105 Document Style updates for Signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2128 Remove content ellipsis
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages
