Repository httpwg/http-extensions, pull requests merged in 2022-11, with the labels that each got.

#2297 resumable-uploads: fix XML breakage
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2278 Editorial review on signature
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2299 fix typo in content-digest example
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2298 Improve grammar when talking about old mistakes
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2305 lose the aspiration for #2282
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2306 Add forward refs to examples (for #2283)
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2304 fixup refs to examples (for #2284)
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2308 reword the header compression section (for #2287)
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2311 align better with the style guide wrt structured fields (for #2285)
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2310 Mention HTTP Message Signatures (for #2286)
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2301 Address WGLC comments
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2315 Fix formatting issues in example
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2319 make 8792 informative
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2321 define signature context
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2322 missed a few bits
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2332 signatures: put SF ref into parentheses
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2327 message-signatures: fix section ref format
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2328 signatures: inconsistent punctuation
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2320 No flags, no worries
  draft-ietf-httpbis-origin-h3.md
Labels: origin-frame

#2267 origin-h3: fix area name
  draft-ietf-httpbis-origin-h3.md
Labels: editorial, origin-frame

#2337 sfbis: hook Date type into algorithms
  draft-ietf-httpbis-sfbis.md
Labels: header-structure
