Repository httpwg/http-extensions, pull requests merged in 2022-04, with the labels that each got.

#1977 priority: use SF terms, not ABNF
  draft-ietf-httpbis-priority.md
Labels: priorities

#2059 Tweak IANA stuff
  draft-ietf-httpbis-priority.md
Labels: priorities, auth48

#2060 Try to avoid saying payload where it is not needed
  draft-ietf-httpbis-priority.md
Labels: priorities, auth48

#2069 Editorial: be consistent when aborting steps
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2063 Auth48: Add "extended connect" keyword
  draft-ietf-httpbis-h3-websockets.md
Labels: h3-websockets

#1878 Noodle on third-party cookies
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2070 Fix: #2042. Add changelog.
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#1971 Fix: #1968. Migrating from RFC3230.
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2080 Swap Content and Repr digest presentation order
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
