Repository httpwg/http-extensions, pull requests merged in 2022-12, with the labels that each got.

#2309 reword 'Header Block Size' section
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2348 retrofit: add missing metadata
  draft-ietf-httpbis-retrofit.md
Labels: editorial, retrofit

#2355 sfbis: abstract needs to be self-contained
  draft-ietf-httpbis-sfbis.md
Labels: editorial, header-structure
