Repository httpwg/http-extensions, pull requests merged in 2022-07, with the labels that each got.

#2187 Fix: #2180. Clarify POST and C-L.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2188 Fix: #2168. add normative RFC8792.
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2189 Wrapping problematic fields for signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2211 editorial updates to wrapped values algorithm
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2160 Tweaks to list intro and item 2
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#2164 Minor stuff from Lars' review
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#2169 Fix binary message registration
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#2184 Fix #2178. Editorial improvements on examples.
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2186 Fix: #2182. 4xx and 5xx are both valid responses.
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2213 digests: improve document structure section
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2221 Added examples for message transformations
  draft-ietf-httpbis-message-signatures.md
Labels: signatures
