Repository httpwg/http-extensions, pull requests merged in 2022-03, with the labels that each got.

#1973 Fix: #1941. Editorial alignments
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1990 rename signature input to signature base
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1994 Release signature-09
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1955 Make the field validation clearer
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1956 This is for semantics, not forensics
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1957 204 responses are just like any other message
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1961 Information status is response only
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1995 Try to define lengths better
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1996 Pseudo-fields aren't allowed in trailers
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1997 Acknowledge David S
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1960 Why truncation
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#2024 Fix references to "token endpoint authorization method"
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2026 Fix component mismatch in examples
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2028 Replace "input identifier" with "component identifier"
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2034 Fix minor grammar issues
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2036 Update terminology introducing derived component values
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2022 Component Identifier/Name terminology and usage
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2041 add @tyler-ham as a contributor
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2043 Fix linting for HTTP Signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2044 uncontroversial AUTH48
  draft-ietf-httpbis-priority.md
Labels: priorities, auth48

#2049 message-signatures: fix Content-Digest sha-512 digest on response
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1978 priority: update author name
  draft-ietf-httpbis-priority.md
Labels: priorities, auth48

#2050 IANA considerations style fixups
  draft-ietf-httpbis-priority.md
Labels: priorities, auth48

#2052 streams carry requests, not methods
  draft-ietf-httpbis-priority.md
Labels: priorities, auth48
