Repository httpwg/http-extensions, pull requests merged in 2022-10, with the labels that each got.

#2255 shuffle appendices a little
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2223 Explicitly state layout of ORIGIN frame
  draft-ietf-httpbis-origin-h3.md
Labels: editorial, origin-frame

#2261 add earlier citation of digest
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2263 Display names
  draft-ietf-httpbis-client-cert-field.md
Labels: editorial, client-cert-field

#2257 client-cert: Mention that origin server access control decisions can be conveyed with a 403 or by selecting response content
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2256 client-cert-field: update refs to now RFCs 9110/9114/9204
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2268 client-cert: HTTP Semantics now a normative ref
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2258 client-cert: certificate chain in the same order as it appears in TLS
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2274 fix ABNF reference
  draft-ietf-httpbis-message-signatures.md
Labels: signatures
