Repository httpwg/http-extensions, pull requests merged in 2022-06, with the labels that each got.

#2155 convert algorithm refs to informative
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2154 All the priorities auth 48 changes
  archive/draft-ietf-httpbis-priority.md
Labels: priorities

#2156 Use the HTTP core RFCs. Twiddle with some other refs.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2143 Clean up signature references and text
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2179 digest: "payload" -> "content"
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2174 digest: fix link for "content" (in HTTP)
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2183 Fix: 2181. Example chunked text.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
