Repository httpwg/http-extensions, pull requests merged in 2022-02, with the labels that each got.

#1882 Some cleanup of binary messages
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1883 Add a section on differences with protocols
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1904 Editorial nits in h3-websockets
  draft-ietf-httpbis-h3-websockets.md
Labels: h3-websockets

#1912 Whitespace fixes for signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1832 Padding
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1910 Tweak the description of informational responses
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1911 field names and values are length prefixed
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1928 Update message/* usage
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1942 Missing word
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1931 Connect is nonsense
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1958 Varints not minimal varints
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1959 Fix field length issues
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1962 Reword combining text a little
  draft-ietf-httpbis-binary-message.md
Labels: binary-messages

#1908 Update signature examples for query
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1919 Digest option 2.5
  draft-ietf-httpbis-digest-headers.md
  sf.json
Labels: digest-headers

#1964 Signature Document Cleanups
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1853 Fix: #1837. Mention collisions.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1982 Fix: #1843. Improve example description.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1984 Fix: #1967. All of representation digest in section 2.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1983 Simplify IANA registration section.
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#1972 Fix: #1954. No normative text in security considerations.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#1980 Flexibility in Cookie Expiry Timeline
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis
