Repository httpwg/http-extensions, pull requests merged in 2022-01, with the labels that each got.

#1872 Cite only Marx paper
  draft-ietf-httpbis-priority.md
Labels: editorial, priorities

#1871 Servers can ignore priority signals and HTTP won't break
  draft-ietf-httpbis-priority.md
Labels: editorial, priorities

#1880 be clearer regarding what is preserved
  draft-ietf-httpbis-priority.md
Labels: editorial, priorities

#1891 priority changelog 11, remove dead ref
  draft-ietf-httpbis-priority.md
Labels: priorities

#1875 shorten title of draft-ietf-httpbis-client-cert-field #1553
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#1877 client-cert: header compression and size considerations
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#1892 client-cert caching interactions
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#1897 client-cert header and renegotiation
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#1898 fill out client-cert's IANA section
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#1900 Changed "specialty" to "derived" components
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1899 Add Ed25519, update algorithm text
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1903 Update Examples, Publish -08
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#1824 Various cleanups
  draft-ietf-httpbis-cache-header.md
  draft-ietf-httpbis-digest-headers.md
  draft-ietf-httpbis-proxy-status.md
  draft-ietf-httpbis-targeted-cache-control.md
  draft-ietf-httpbis-variants.md
Labels: editorial, cache-header
