Repository httpwg/http-extensions, pull requests merged in 2023-04, with the labels that each got.

#2491 Update rules for signature algorithm names
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2489 Reframe signing signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2508 Fix temporary digest IANA links
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2509 Clarify how digest + sigs helps adding or stripping
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2507 Editorial clarifications of Appendix A
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2505 Signature component encodings
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2515 message-signatures: remove unused postal adresses
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2522 Describe signatures as a tool in a larger system
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2523 call out query parameter handling oddities
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2527 Be more explicit about content processing and trailer
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
