Repository httpwg/http-extensions, pull requests merged in 2023-02, with the labels that each got.

#2376 Add instructions for IANA review
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2378 Clarify Derived Components
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2380 clarify combination of HTTP fields
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2391 Fix HTMLURL reference
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2402 update language on structured fields
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2377 Update processing of parameters in Accept-Signature
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2403 Prepare signatures for draft -16
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2405 update reference stye for HTTP/1.1
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2292 Proposal of server-generated upload URLs
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2407 Remove tus from Resumable Upload draft
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2414 message-signatures: remove duplicate "the"
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2409 Specify algorithm selection is from a known subset
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2406 client-cert: AD review feedback
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2381 Wrap all cases where repr-digest was 2 characters over
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2418 Address nits from OPS review
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2450 Add reference and discussion of obs-fold and whitespace and other transformations
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2425 client-cert: genart review updates
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field
