Repository httpwg/http-extensions, pull requests merged in 2023-06, with the labels that each got.

#2568 Update example domains
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2566 Tweak description of Proxy-Status
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2569 IPv6 next hop examples need to be strings
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2494 Rough in Display Strings
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2579 Fix '*** overwriting RFC9113' messages to fix #2495
  draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2571 Remove HMAC and switch to Authorization
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2572 Add info to context
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2573 Avoid issues with signatures that cover any nonce
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2574 Contextualize the signature itself
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2587 Corruption is corruption no matter why
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2588 avoid "integrity doesn't provide integrity" language construct
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers
