Repository httpwg/http-extensions, pull requests merged in 2023-12, with the labels that each got.

#2664 Upload progress via informational responses
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2686 Add security consideration regarding request filtering
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2699 Field was renamed to Repr-Digest
  sf.json
Labels: digest-headers

#2697 [connect-tcp] Specify WWW-Authenticate as The One Way to authenticate
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2698 Editorial changes to resumable upload draft
  draft-ietf-httpbis-resumable-upload.md
  sf.json
Labels: resumable-upload

#2702 Downgrade SHOULD to non-normative
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2703 Add POSIX reference for getaddrinfo
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2706 compression-dictionary: remome abbreviated title
  draft-ietf-httpbis-compression-dictionary.md
Labels: editorial, compression-dictionary

#2704 compression-dictionary: remove unused references
  draft-ietf-httpbis-compression-dictionary.md
Labels: editorial, compression-dictionary

#2705 compression-dictionary: remove links from abstract
  draft-ietf-httpbis-compression-dictionary.md
Labels: editorial, compression-dictionary
