Repository httpwg/http-extensions, pull requests merged in 2023-01, with the labels that each got.

#2360 Remove trailing dot in CNAME examples
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2374 Clarify alias/canonical name usage
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2375 Formalize percent encoding for names in list
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2373 Add boilerplate
  draft-ietf-httpbis-origin-h3.md
Labels: origin-frame

#2379 AD Review of Signatures (Editorial)
  draft-ietf-httpbis-message-signatures.md
Labels: editorial, signatures

#2390 Update multi-signature examples
  draft-ietf-httpbis-message-signatures.md
Labels: signatures
