Repository httpwg/http-extensions, pull requests merged in 2023-05, with the labels that each got.

#2484 Add implementation considerations for CNAME chain access
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2524 fix encoding of non-ascii fields
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2525 Encode query parameter names
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2481 RFC6265bis: Define top-level navigation
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2480 RFC6265bis: Use navigables concept
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2529 Explain encoding for dots in labels
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2530 Expand dns alias security considerations
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2545 Link to HTTP Section 8.1 when talking about representation data
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2554 Fix: #2553. Ballot position feedbacks.
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2552 (Parentheticals)
  draft-ietf-httpbis-alias-proxy-status.md
Labels: editorial, alias-proxy-status
