Repository httpwg/http-extensions, pull requests merged in 2023-03, with the labels that each got.

#2451 Mention the empty string
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2454 Add missing Upload-Incomplete header
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2455 Correct changelog in resumable-upload
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2447 Clarify that hashing bytes are base-64 encoded and give examples
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2449 simplify hex-encoding presentation
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2448 Apply AD suggests WRT to Hash Algorithm registry
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2404 Refine requirement for failure
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2458 Message contents has newlines, ensure digest consistency
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2459 Clean up from SEC review
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2464 Tidy up places where we refer to multiple internal sections
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2396 Discuss limitations on types based on field def
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2462 Require modern TLS
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2463 Require unique key material.
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2465 Unprompted auth: replace u with k
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2466 Unprompted Auth: add Server Handling section
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2468 digest: remove extra SP
  draft-ietf-httpbis-digest-headers.md
Labels: editorial, digest-headers

#2471 Add note about linking keys
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2473 better intermediaries
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2452 Update advice and examples on signing signatures
  draft-ietf-httpbis-message-signatures.md
Labels: signatures

#2478 RFC6265bis: Advise the reader which section to implement
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2485 Update IANA note on old registry
  draft-ietf-httpbis-digest-headers.md
Labels: digest-headers

#2483 Reference structured fields
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status
