Repository httpwg/http-extensions, pull requests merged in 2023-10, with the labels that each got.

#2598 AUTH48 for Client-Cert / RFC 9440
  archive/draft-ietf-httpbis-client-cert-field.md
Labels: client-cert-field

#2652 Add Token caveat
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2656 update acknowledgements
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2657 Tweak resumable appendix
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2655 Upgrade resumable diagrams to SVG
  .gitignore
  draft-ietf-httpbis-resumable-upload.md
  package.json
Labels: resumable-upload

#2658 Editorial changes mainly for style guide alignment
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2659 Increase draft interop version
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2650 Refine security considerations for Display Strings
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2603 Unprompted: add public key to context and header
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2663 Unprompted: stop using structured fields
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2651 Require supported Date ranges
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2668 Add reference to RFC3493
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status

#2666 Add example for encoding`\\`
  draft-ietf-httpbis-alias-proxy-status.md
Labels: alias-proxy-status
