Repository httpwg/http-extensions, pull requests merged in 2024-10, with the labels that each got.

#2876 Fix: #2875. More HTTP definitions.
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2882 Fix: #2880. Split Content-Encoding and Transfer-Encoding sections.
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2902 Reword guidance around URI generation
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2831 Resumable Upload: Clarifications around Upload-Limit
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2912 Update CI files
  .github/workflows/archive.yml
  .github/workflows/ghpages.yml
  .github/workflows/publish.yml
  .github/workflows/update.yml
Labels: meta

#2911 Resumable Upload: Discover upload limits through OPTIONS request
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2910 Resumable Upload: Add guidance on upload creation strategy
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2918 query: IANA considerations for Accept-Query
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2921 Make Capsule Protocol support mandatory for servers
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2923 query: tune text about data not really suited for encoding into URIs (fixes #2919)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#2845 [optimistic upgrade] Remove mention of HTTP/*.*
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2821 [optimistic-upgrade] Extend the draft to cover HTTP CONNECT
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2827 [optimistic-upgrade] Recommend GET for future Upgrade Tokens
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2927 Resumable Upload: Indicate length during creation (Nr. 2)
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2828 [optimistic-upgrade] Discuss the impact of syntax rules on optimistic upgrade for "TLS"
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2917 Resumable Upload: Requesting digests from server using `Want-Repr-Digest`
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2926 [connect-tcp] Move capsule negotiation into the Upgrade Token
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2859 query: Editorial changes to Introduction
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#2931 no-vary-search: Fill in IANA Considerations section
  draft-ietf-httpbis-no-vary-search.md
Labels: no-vary-search
