Repository httpwg/http-extensions, pull requests merged in 2024-04, with the labels that each got.

#2769 Specify the compression window sizes for zstd-d and br-d
  draft-ietf-httpbis-compression-dictionary.md
Labels: compression-dictionary

#2775 Add draft-httpbis-secondary-server-certs
  draft-ietf-httpbis-secondary-server-certs.md
Labels: secondary-server-certs

#2777 [connect-tcp] Note the dependency on Extended CONNECT
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2778 [connect-tcp] Normatively forbid optimistic data in HTTP/1.1
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2776 [connect-tcp] Emphasize that the Capsule Protocol is not used
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2779 [connect-tcp] Explain rationale for TCP RST handling
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2767 sfbis: headers -> fields
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2763 Add PRECIS reference
  draft-ietf-httpbis-sfbis.md
Labels: header-structure

#2780 [compression-dictionary] Allow for larger ZStandard compression windows.
  draft-ietf-httpbis-compression-dictionary.md
Labels: compression-dictionary
