Repository httpwg/http-extensions, pull requests merged in 2024-07, with the labels that each got.

#2816 Add "HTTP" to introduction
  draft-ietf-httpbis-zstd-window-size.md
Labels: zstd-window-size

#2748 Resumable Uploads: Describe interaction with Digest Fields
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2747 Resumable Uploads: Resource-specific upload limits
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2823 Resumable Upload: Bump interop version
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2812 Tweak the example in the explanation of "Lax-allowing-unsafe"
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis, 6265bis samesite

#2810 Add changes from RFC 6265 section
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2826 [compression-dictionary] Fixed references and comments from AD review
  draft-ietf-httpbis-compression-dictionary.md
Labels: compression-dictionary

#2820 [optimistic-upgrade] Mention "connect-ip"
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2830 Minor editorial changes and corrections
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2836 Editorial suggestions from shepherd review
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2736 [connect-tcp] Adjust rules for target_host and target_port
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2846 query: Add Mike Bishop to author list (fixes #2837)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: safe-method-w-body
