Repository httpwg/http-extensions, pull requests merged in 2024-12, with the labels that each got.

#2944 [optimistic-upgrade] Clearly limit recommendations to HTTP/1.1
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2966 query: switch Accept-Query to SF (closes #2934)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2967 query: Reference HTTP spec for terminology (closes #2953)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#2946 Clarify that cookie names are case-sensitive and may be empty
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2968 query: Guidance about what's possible with GET wrt URI length (closes #1914)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2971 Clean up editorial issues
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2973 Clean up unused references and non-ascii characters
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis
