Repository httpwg/http-extensions, pull requests merged in 2024-08, with the labels that each got.

#2847 [connect-tcp] Discuss use of the Capsule Protocol
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2854 [compression-dictionaries] Addressed feedback from Gen-ART review
  draft-ietf-httpbis-compression-dictionary.md
Labels: compression-dictionary

#2850 Add note to security considerations
  draft-ietf-httpbis-zstd-window-size.md
Labels: zstd-window-size

#2863 Add links to registry URL in the IANA Considerations section
  draft-ietf-httpbis-zstd-window-size.md
Labels: zstd-window-size

#2870 [compression-dictionaries] addressed artart feedback
  draft-ietf-httpbis-compression-dictionary.md
Labels: compression-dictionary

#2885 Concealed auth: responsible AD review
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth

#2888 concealed IANA review
  draft-ietf-httpbis-unprompted-auth.md
Labels: unprompted-auth
