Repository httpwg/http-extensions, pull requests merged in 2024-06, with the labels that each got.

#2798 Add draft-ietf-httpbis-zstd-window-size
  draft-ietf-httpbis-zstd-window-size.md
Labels: zstd-window-size

#2799 Fix github link
  draft-ietf-httpbis-zstd-window-size.md
Labels: editorial, zstd-window-size

#2761 Remove recursive references
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2800 Minor editorial nits
  draft-ietf-httpbis-unprompted-auth.md
Labels: editorial, unprompted-auth

#2744 Resumable Uploads: Subsequent resources using `Content-Location`
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2743 Resumable Uploads: `application/partial-upload` media type
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2804 Add multiple cookie header tolerance suggestions & length limit warnings
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2746 Resumable Upload: Add details about Transfer-Encoding and Content-Encoding
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2811 Resumable upload: Problem Types
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2813 Resumable Upload: Completed uploads must not be appended to
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload
