Repository httpwg/http-extensions, pull requests merged in 2024-11, with the labels that each got.

#2930 no-vary-search: Allow more efficient caches by assuming consistency
  draft-ietf-httpbis-no-vary-search.md
Labels: no-vary-search

#2259 Fix: #1895. Mention security advantages.
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2947 query: add CORS considerations (fixes #2898)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2952 query: add overview table to introduction
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#2955 query: move BCP14 stuff into subsection (fixes #2954)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#2943 [connect-tcp] Remove bare TCP payload mode
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#2958 query: move examples into index (fixes #2957)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#2960 query: conditional queries (fixes #1917)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2961 query: Added Security Consideration with respect to Normalization (closes #2896)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method
