Repository httpwg/http-extensions, pull requests merged in 2024-09, with the labels that each got.

#2858 QUERY and (Content-)Location Again
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: safe-method-w-body

#2890 compression-dict: quote section titles in references to other documents (fixes #2889)
  draft-ietf-httpbis-compression-dictionary.md
Labels: editorial, compression-dictionary

#2878 Fix: #2877. Reference RFC9111
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2861 Make Service-Workers reference informative
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2905 Add draft-ietf-httpbis-no-vary-search
  draft-ietf-httpbis-no-vary-search.md
Labels: no-vary-search
