Repository httpwg/http-extensions, pull requests merged in 2025-09, with the labels that each got.

#3235 s/Subsequent/Subsequently
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3236 Several typo and spelling fixes
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3237 s/not the/was not
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3241 Rephrase max-size enforcement
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3257 QUERY: fix contributor/contact
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3145 WAFs might reject requests permanently
  draft-ietf-httpbis-incremental.md
Labels: incremental
