Repository httpwg/http-extensions, pull requests merged in 2025-02, with the labels that each got.

#2990 query: discuss relation to range requests (fixes #2979)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#2988 [RFC6265bis] Harden requirements for the `Set-Cookie` profile.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#2992 Resumable Upload: Correct terminology around representations
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2993 Resumable Upload: Remove inline references
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#2995 s/intermediate response/interim response
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#2994 Resumable Upload: Remove appendices
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#2991 Errata fix
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#3001 cache-groups: fix nits
  draft-ietf-httpbis-cache-groups.md
Labels: editorial, cache-groups

#2998 [RFC6265bis] Clarify IANA considerations.
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#3002 QUERY: examples section (fixes #1906)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3006 Resumable Upload: Upload Resource Section
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3012 Resumable Upload: Rename `expires` limit to `max-age`
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3014 Resumable Upload: URI instead of URL
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3017 Resumable Upload: Clear up definitions
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3013 Resumable Upload: Clarify handling of different status codes
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload
