Repository httpwg/http-extensions, pull requests merged in 2025-05, with the labels that each got.

#3080 query: some editorial nits
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3087 Create draft-ietf-httpbis-layered-cookies.md
  draft-ietf-httpbis-layered-cookies.md
Labels: cookies

#3099 query: Fix references in A.3
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3100 query: review references to HTTP (fixes #3097)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3102 query: address Rahul's feedback (fixes #3101)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3092 Resumable Upload: Correct usage of BCP14 keywords
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3103 query: clarify Accept-Query definition wrt media type parameter mapping (fixes #3101)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method
