Repository httpwg/http-extensions, pull requests merged in 2025-04, with the labels that each got.

#3058 query: explain the role of the target URI's query part (closes #3004)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3048 [connect-tcp] Require close after CONNECT fails
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#3049 [connect-tcp] Optimism is safe with Connection:close
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#3062 query: query content vs URI query parameters terminology (closes #3059)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3063 Resumable Upload: Retries, rejections, and security
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3007 Incremental tweaks
  draft-ietf-httpbis-incremental.md
Labels: incremental

#3056 Editorial tweaks around the Incremental header field
  draft-ietf-httpbis-incremental.md
Labels: editorial, incremental

#3067 explain what it means to have the incremental signal in both directions
  draft-ietf-httpbis-incremental.md
Labels: incremental

#3077 query: Restrict description of Content-Location and Location semantics to 2xx responses (might fix #3070)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3079 query: Slightly rephrase semantics for Content-Location (closes #3071)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3066 can buffer the header / trailer sections
  draft-ietf-httpbis-incremental.md
Labels: incremental
