Repository httpwg/http-extensions, pull requests merged in 2025-03, with the labels that each got.

#3023 Resumable Upload: Problem type for inconsistent length values
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3018 Require less response headers for upload creation and appending
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3026 Resumable Upload: Increase draft interop version to 7
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3027 Resumable Upload: Correct reference for structured fields
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3022 query: add missing references, terminology (closes #3021)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3028 resumable: fix metadata
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3030 Add Acknowledgements/Contributors sections; moved Ashok to Contributors (closes #3029)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method

#3020 QUERY: avoid term 'query parameters' (closes #3019)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3031 Make two examples clearer
  draft-ietf-httpbis-resumable-upload.md
Labels: editorial, resumable-upload

#3033 Define structured types for header fields
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3032 No-Vary-Search: add an introduction
  draft-ietf-httpbis-no-vary-search.md
Labels: no-vary-search

#3034 No-Vary-Search: capitalize RFC2119 words
  draft-ietf-httpbis-no-vary-search.md
Labels: no-vary-search

#3035 No-Vary-Search: call out parts of Infra used, especially lists
  draft-ietf-httpbis-no-vary-search.md
Labels: no-vary-search

#3044 Resumable Uploads: Rephrase introduction
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3050 draft-ietf-httpbis-connect-tcp: fix area, remove keyword(s) for now (…
  draft-ietf-httpbis-connect-tcp.md
Labels: editorial, connect-tcp

#2913 [Secondary-Server-Certs] Rename CERTIFICATE to SERVER_CERTIFICATE
  draft-ietf-httpbis-secondary-server-certs.md
Labels: secondary-server-certs

#3037 query: editiorial tweaks, source cleanup (closes #3036)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: editorial, query-method

#3016 32 x 32
  draft-ietf-httpbis-cache-groups.md
Labels: cache-groups
