Repository httpwg/http-extensions, pull requests merged in 2025-08, with the labels that each got.

#3149 Gen-ART review - Address technical issues
  draft-ietf-httpbis-rfc6265bis.md
Labels: 6265bis

#3195 Remove Max-Age compat note
  draft-ietf-httpbis-layered-cookies.md
Labels: cookies

#3196 Add short mention of partial PUT
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3197 State very clearly examples are illustrative and non-normative
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload

#3198 Add more text about the interation of resumable uploads with existing per-message limits.
  draft-ietf-httpbis-resumable-upload.md
Labels: resumable-upload
