Repository httpwg/http-extensions, pull requests merged in 2025-06, with the labels that each got.

#3089 [optimistic-upgrade] Recommend empty bodies in Upgrade request
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#3109 [optimistic-upgrade] Incorporate WGLC comments from dschinazi
  draft-ietf-httpbis-optimistic-upgrade.md
Labels: optimistic-upgrade

#2949 Proposal: FINAL_DATA
  draft-ietf-httpbis-connect-tcp.md
Labels: connect-tcp

#3116 QUERY: HTTPDIR/RF review - appendices (closes #3114)
  draft-ietf-httpbis-safe-method-w-body.xml
Labels: query-method
